@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight:600;
  }
  
section{
    min-height: 100vh;
    padding: 0 5%;

  }

  header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 5rem;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,.3);
  }
header .navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar li{
    margin-left: 2.5rem;
    font-size: 1 rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
}

header .navbar ul li a{
    text-decoration: none;
    color: #967bb6;
    transition: 0.2s;

}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:rgb(157, 97, 213);
    border-bottom: 0.2rem solid rgb(157, 97, 213);
    padding: 0.5rem 0;
}
#particles-js{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #d2a3dd;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
.about .grid{
    /* margin: 100px; */
}
.home{
    margin:0 100px
}
.home div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-size: 30px;
    padding-bottom: 100px;
}
.home div p{
    font-size: 25px;
}
.home>div>img{
    border-radius: 50%;
    width: 400px;
   
}
